#include <windows.h>
#include <commctrl.h>
#include "Resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDM_COMMAND_MENU MENUEX 
BEGIN
	POPUP "New Item", IDM_MENUITEM_10003
	BEGIN
		POPUP "Rotate Left"
		BEGIN
			MENUITEM "Left 1", IDM_CCW_1
			MENUITEM "Left 2", IDM_CCW_2
			MENUITEM "Left 3", IDM_CCW_3
			MENUITEM "Left 4", IDM_CCW_4
		END
		POPUP "Rotate Right"
		BEGIN
			MENUITEM "Right 1", IDM_CW_1
			MENUITEM "Right 2", IDM_CW_2
			MENUITEM "Right 3", IDM_CW_3
			MENUITEM "Right 4", IDM_CW_4
		END
		MENUITEM "Stop Rotate", IDM_Stop_Rotate
		POPUP "Change Altitude"
		BEGIN
			MENUITEM "A0", IDM_A0
			MENUITEM "A1", IDM_A1
			MENUITEM "A2", IDM_A2
			MENUITEM "A3", IDM_A3
			MENUITEM "A4", IDM_A4
			MENUITEM "A5", IDM_A5
			MENUITEM "A6", IDM_A6
			MENUITEM "A7", IDM_A7
			MENUITEM "A8", IDM_A8
			MENUITEM "A9", IDM_A9
		END
		MENUITEM "Circle Navaid", IDM_Circle_Navaid
		MENUITEM "Cleared To Land", IDM_Cleared_To_Land
	END
END
MAINMENU MENUEX 
BEGIN
	POPUP "&File", IDM_File
	BEGIN
		MENUITEM "&Start", IDM_Start
		MENUITEM "&Exit", IDM_Exit
	END
END
IDD_SELECTTIME DIALOGEX 0, 0, 140, 70
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
FONT 8, "MS Shell Dlg", 0, 0, DEFAULT_CHARSET
CAPTION "Select Time"
BEGIN
CONTROL "Enter Time:", -1, "static", SS_LEFT | WS_GROUP | WS_VISIBLE | WS_CHILD, 11, 16, 37, 8
EDITTEXT IDC_SELECTTIME, 56, 14, 46, 13, ES_LEFT | WS_BORDER | WS_TABSTOP | WS_VISIBLE | WS_CHILD
CONTROL "OK", IDOK, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 38, 50, 14
CONTROL "Cancel", IDCANCEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 67, 37, 50, 15
END
