/relnotes.txt
/readme.txt
/license.txt
/src/vcvars32.bat
VTune Profiler Results/
*.obj
*.o
*.oa
*.bak
*.tds
*.tr2
*.td2
*.asm
*.exe
*.map
*.lib
*.tlog
*.pdb
*.rel
*.i
*.res
*.manifest
*.lastbuildstate
*.idb
*.sdf
*.suo
*manifest.rc
*.opensdf
*.log
*.user
*.old
*.lss
*.odx
*.ods
*.icd
*.icd2
*.icf
*.ilo
*.il
*.user
q
q.*
q1.*
q2.*
/src/MSDNHelp/
/src/occ/ideprj/*.*
/src/occ/ideprj/win32
/src/occ/x86/q*.cpp
/src/occ/x86/q*.h
/src/debug
/src/release
/addon/e
/bin/
/dist/
/doc/tools.htm
/docs/
/examples/
/help/
/include/
/lib/
/rule/
/src/clibs/object/
/src/clibs/platform/win32/lscrtl/lscrtl
/src/doszip.zip
/src/ipch/
/src/occ/parse/xx/

/src/occ/netil/cc386/
/src/occ/netil/lsmsilcrtl/
/
/src/*/Debug
/src/*/Release
/src/*/x64/Debug
/src/*/x64/Release
/src/occparse/temp/*
/test/
/web/
/xx/
*-cppcheck-build-dir/
src/.vs
*.xhf
*.xcppf
*.xcf
*.tst
*.err
*.out
*.pyc
*.bad
*.good
*.$$$
*.tmp
**/__pycache__/
src/clibs/cpp/libcxx/test/*.s
src/clibs/cpp/libcxx/test/*.o
src/clibs/cpp/libcxx/test/*.exe
src/onm/Debug/*
src/oimplib/Debug/*
src/obrc/Debug/*
src/objlib/Debug/*
src/coff2ieee/Debug/*
src/adl/Debug/*
src/*/obj
src/*/Debug
src/*/Release
src/occ/*/obj
src/lib
/tests/*/*.s
/tests/c-testsuite/*.c*
/tests/*/*.json
/tests/*/*.txt
/tests/occpr/bzip2*.c
/tests/occil/*/*.dll