/relnotes.txt
/readme.txt
/license.txt
/src/vcvars32.bat
*.obj
*.o
*.bak
*.tds
*.tr2
*.td2
*.asm
*.exe
*.map
*.lib
*.tlog
*.pdb
*.rel
*.i
*.res
*.manifest
*.lastbuildstate
*.idb
*.sdf
*.suo
*manifest.rc
*.opensdf
*.log
*.user
*.old
*.lss
*.odx
*.ods
*.icd
q
q.*
q1.*
q2.*
/src/MSDNHelp/
/src/occ/ideprj/*.*
/src/occ/ideprj/win32
/src/occ/x86/q*.cpp
/src/occ/x86/q*.h
/src/debug
/src/release
/addon/e
/bin/
/dist/
/doc/tools.htm
/docs/
/examples/
/help/
/include/
/lib/
/rule/
/src/clibs/object/
/src/clibs/platform/win32/lscrtl/lscrtl
/src/doszip.zip
/src/ipch/
/src/occ/parse/xx/
/src/dlhex/Release/
/src/dlle/Release/
/src/dlmz/Release/
/src/dlpe/Release/
/src/dlpm/Release/
/src/oasm/Release/
/src/obj/Release/
/src/occ/Release/
/src/occ/parse86/Release/
/src/occ/preproc/Release/
/src/ocide/Release/
/src/ocl/Release/
/src/ocpp/Release/
/src/ogrep/Release/
/src/olib/Release/
/src/olink/Release/
/src/omake/Release/
/src/orc/Release/
/src/util/Release/
/src/occ/occil/Release/

/src/dlhex/Debug/
/src/dlle/Debug/
/src/dlmz/Debug/
/src/dlpe/Debug/
/src/dlpm/Debug/
/src/oasm/Debug/
/src/obj/Debug/
/src/occ/Debug/
/src/occ/parse86/Debug/
/src/occ/preproc/Debug/
/src/ocide/Debug/
/src/ocl/Debug/
/src/ocpp/Debug/
/src/ogrep/Debug/
/src/olib/Debug/
/src/olink/Debug/
/src/omake/Debug/
/src/orc/Debug/
/src/util/Debug/
/src/occ/occil/Debug/
/src/occ/netil/cc386/
/src/occ/netil/lsmsilcrtl/
/

/test/
/web/
/xx/
*-cppcheck-build-dir/
src/.vs
*.xhf
*.xcppf
*.xcf
*.tst
*.err
*.out
src/onm/Debug/*
src/oimplib/Debug/*
src/obrc/Debug/*
src/objlib/Debug/*
src/coff2ieee/Debug/*
src/adl/Debug/*
src/*/obj
src/*/Debug
src/*/Release
src/occ/*/obj
src/lib