#include "..\version.h"
#include <windows.h>
Language LANG_ENGLISH,SUBLANG_ENGLISH_US
1 ICON "cl386.ico"
1 VERSIONINFO 
FILEVERSION CL386_VERSION
PRODUCTVERSION PRODUCT_VERSION
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
        BLOCK "StringFileInfo"
        BEGIN 
                BLOCK "040904E4"
                BEGIN
                        VALUE "CompanyName", "LADSoft\0"
                        VALUE "FileDescription","CL386 Compiler Shell\0"
                        VALUE "FileVersion", CL386_STRING_VERSION "\0"
                        VALUE "InternalName","cl386.exe\0"
                        VALUE "OriginalFilename","cl386.exe\0"
                        VALUE "ProductName",PRODUCT_NAME "\0"
                        VALUE "ProductVersion",PRODUCT_STRING_VERSION "\0"
#ifdef PRIVATE_BUILD
                        Value "PrivateBuild",PRIVATE_BUILD "\0"
#endif
                        VALUE "LegalCopyright",JOSS_COPYRIGHT "\0"
                END
        END
END