#include <windows.h>
#include <commctrl.h>
#include "Resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_TEST DIALOGEX 0, 0, 240, 120
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
FONT 8, "MS Sans Serif"
CAPTION ""
BEGIN
CONTROL "OK", IDOK, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 186, 6, 50, 14
CONTROL "Cancel", IDCANCEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 186, 26, 50, 14
CONTROL "Fruit:", -1, "static", SS_LEFT | WS_GROUP | WS_VISIBLE | WS_CHILD, 17, 12, 57, 16
CONTROL "Veggi:", -1, "static", SS_LEFT | WS_GROUP | WS_VISIBLE | WS_CHILD, 17, 28, 58, 16
COMBOBOX IDC_FRUIT, 77, 11, 50, 50, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE | WS_CHILD
EDITTEXT IDC_VEGGI, 78, 27, 46, 16, ES_LEFT | WS_BORDER | WS_TABSTOP | WS_VISIBLE | WS_CHILD
END
